.home {
  color: $gray;
  font-size: $font-size;
  h1, h2, h3, h4 {
    font-family: $title-family;
  }
  h3 {
    font-size: $font-size-title - 1px;
    line-height: 1;
  }
  p {
    font-size: $font-size;
    line-height: 1.5;
  }
}

.content-video {
  width: auto;
  /*max-height: 210px;*/
  position: relative;

  /*top: 50%;
  transform: translateY(-50%);*/
}
