<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<main class="home">
  {{> slider }}
    <!-- <div class="hero-component">
      <div class="wrapper dark">
        <img src="images/hero-placeholder.png" class="placeholder" alt="">
        <div class="content ">
          <h1>With help from the Connect America Fund,  Frontier is closing the digital divide</h1>
        </div>
      </div>
    </div>
    <section class="call-bar small">
        <div class="fx">
            <div class="fx-phone">
              Media and press:  Please contact (name tbd)  at email@domain.com for more information
                < <a href="tel:18009218101">1.800.921.8101 </a>
            </div>
        </div>
    </section> -->

    <!-- <section class=" g-map">
        <h3 >Frontier Connect America - Eligible Locations</h3>
         <iframe width="400" height="400" src="https://ftr-map-66fae.firebaseapp.com/caf.html"
             frameborder="none"></iframe>

    </section> -->

    <div class="red-bar"></div>

    <section class="l-bg helpful-links">
      <div class="container">
         <h3 >Helpful links</h3>
          <div class="row">
            <div class=" col-sm-12">
              <ul>
                <li><a target="_blank" href="https://apps.fcc.gov/edocs_public/attachmatch/DOC-335269A7.pdf">Federal Communications Commission</a></li>
                <li><a target="_blank" href="http://investor.frontier.com/releasedetail.cfm?ReleaseID=1033529">Press Release</a></li>
                <li><a target="_blank" href=" https://www.fcc.gov/reports-research/maps/caf-2-accepted-map/">Additional Information and Maps</a></li>
              </ul>
            </div>

          </div>
      </div>
    </section>



    <section class=" d-bg social-media bg-section">
      <div class="container">

          <div class="row vertical-align">
            <div class="col-sm-12 col-md-6 clearfix mb-20">
              <h3 id="social">Follow us on Social Media for updates</h3>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Twitter" href="https://twitter.com/frontierpolicy" class="smi smi-twitter" target="_blank">
                  <i class="fci-social-twitter" title="Twitter" id="ecomm-rv-footer-social-icon-Twitter"></i>
                </a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Facebook" href="https://www.facebook.com/FrontierCorp" class="smi smi-facebook" target="_blank"><i class="fci-social-facebook" title="Facebook" id="ecomm-rv-footer-social-icon-Facebook"></i></a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Linkedin" href="https://www.linkedin.com/company/frontier-communications" class="smi smi-linkedin" target="_blank"><i class="fci-social-linkedin" title="Linkedin" id="ecomm-rv-footer-social-icon-Linkedin"></i></a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-YouTube" href="https://www.youtube.com/user/FrontierCorp " class="smi smi-youtube" target="_blank"><i class="fci-social-youtube" title="YouTube" id="ecomm-rv-footer-social-icon-YouTube"></i></a>
              </span>
              <span class="social-icons-ftr">
                <a id="ecomm-rv-footer-link-Google+" href="https://plus.google.com/+FrontierCorp/posts" class="smi smi-googleplus" target="_blank">
                  <em class="fci-social-googleplus" title="Google+" id="ecomm-rv-footer-social-icon-Google+"></em>
                </a>
              </span>
            </div>
              <div class="col-sm-12 col-md-6">
                <div class="social-container">
                  <a class="twitter-timeline" href="https://twitter.com/frontierpolicy">Tweets by askfrontier</a>
                </div>

              </div>
          </div>
      </div>

    </section>

    <section class="l-bg bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-4 col-lg-6">
                  <div class="content-video">
                <div class="embed-responsive2 embed-responsive-4by33">
                  <div style="position: relative; display: block; max-width: 960px;"><div style="padding-top: 50%;"><iframe src="//players.brightcove.net/4821467228001/BkZGPpHw_default/index.html?videoId=5634663063001"
allowfullscreen
webkitallowfullscreen
  frameborder="none"

mozallowfullscreen
style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe></div></div>
                </div>
            </div>
                   <!-- <div class="embed-responsive embed-responsive-16by9">
                     <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/y_Qmb_xkikg?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
                   </div> -->
                </div>
                <div class="col-sm-12 col-md-8 col-lg-6">
                  <h1>Frontier Goes World Class in Bonners Ferry</h1>
                  <p>In September <span class="avenir">2017</span>, through the support of the FCC’s Connect America Fund, Frontier completed broadband deployment to Bonners Ferry, Idaho.  Award-winning high school science teacher Ed Katz created a world-class robotics and career preparation program using newly enhanced high speed internet connectivity; allowing students to compete on a national level.</p>
                </div>
            </div>
        </div>
    </section>


</main>
