<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="scripts/slick/slick.css">
<link rel="stylesheet" href="scripts/slick/slick-theme.css">
<script type="text/javascript" src="scripts/slick/slick.js"></script> -->

  <div class="hero-slider">
    <div class="hero-component ">
      <div class="wrapper dark sl-1">
        <img src="images/hero-placeholder.png" class="placeholder" alt="">
        <div class="container">
          <div class="content ">
            <h1>With help from the Connect America Fund,  Frontier is closing the digital divide</h1>
            <h2><span class="invisible">hidden</span></h2>
          </div>
        </div>

      </div>
    </div>
    <div class="hero-component first">
      <div class="wrapper dark sl-2">
        <img src="images/hero-placeholder.png" class="placeholder" alt="">
        <div class="container">
          <div class="content ">
            <h1>Frontier Communications Exceeds Major Connect America Fund Milestone</h1>
            <h2><a href="http://investor.frontier.com/releasedetail.cfm?ReleaseID=1055021" target="_blank">Click Here</a></h2>
          </div>
        </div>

      </div>
    </div>
  </div>
